*.out
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

*.log
*.dep
.vscode/
.idea/
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
.cproject
.project

*~
*.swp
*.tmp
.DS_Store

tags
TAGS
GPATH
GRTAGS
GSYMS
GTAGS

/test-output/
*.gcda
*.gcno
*.gcov

cmake-build-debug/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

a.out